//additional custom stylings
#showcase{
    padding-top : 60px;
    background: url("/images/maps.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    height: 100%; 
    opacity: 0.8;
    position: relative;
}

.col{
    opacity: 0.9;
}